@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  background-color: #fafafa;
  margin: 5em 0;
  padding: 0;
  font-family: Arial; }

.container {
  width: 50em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .container--textarea-top {
    background-color: #fff;
    border: 1px solid #eaeaea; }
    .container--textarea-top .textInput {
      width: 50em;
      height: 10em;
      margin: 0;
      padding: 0;
      font-family: Arial;
      font-size: 1.5em;
      color: #000; }
  .container--textarea-bottom {
    background-color: #fff;
    margin-top: 2em; }
    .container--textarea-bottom textarea {
      width: 50em;
      height: 11em;
      margin: 0;
      padding: 0;
      font-family: Arial; }

span.nextWord {
  background-color: yellow;
  color: black; }

span.correctWord {
  background-color: green; }

.nav {
  width: 50em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative; }
  .nav--buttons {
    margin-top: 20px; }
    .nav--buttons .wrongAnswer {
      line-height: 1.5em;
      color: red;
      position: absolute;
      right: 2em;
      font-size: 1.5em; }
      .nav--buttons .wrongAnswer:before {
        content: 'Błędy: '; }
